@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3f51b5;
  --secondary: #f50057;
  --background: #ffffff;
  --surface: #f5f5f5;
  --error: #f44336;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #7986cb;
    --secondary: #ff4081;
    --background: #121212;
    --surface: #303030;
    --error: #cf6679;
  }
}

body {
  background-color: var(--background);
  color: var(--onPrimary);
  /* font-family: var(--font-geist-mono) var(--font-geist-sans); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* normalize */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

p {
  margin: 0;
  padding-bottom: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ********** components************/

/* ImageBlock */

.ib-img {
  width: 100%;
  /* height: 180px; */
  object-fit: cover;
  object-position: top;
}
